@media screen and (max-width: 768px) {
  body {
    background: none;
    background-color: #f9ccc9;
  }

  .head {
    margin-top: 20px;
    margin-left: 95px;
  }

  .btn-cliente {
    display: none;
    padding: 0;
  }

  .sobre-nos-btn {
    display: none;
    padding: 0;
  }

  .procedimentos-btn {
    display: none;
    padding: 0;
  }

  .cidade {
    display: none;
  }

  .hero {
    flex-direction: column;
  }

  .left-hero {
    margin-left: 4px;
    margin-top: 2px;
  }

  .paragrafo {
    margin-top: 5px;
  }

  .title-hero {
    display: none;
    font-size: 18px;
    margin-left: 10px;
  }

  .title-hero-dois {
    display: none;
    font-size: 18px;
    margin-left: 10px;
  }

  .btn-contato {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: auto;
  }
}
