@media screen and (max-width: 768px) {
  body {
    background: none;
    background-color: #f9ccc9;
  }

  .head {
    margin-top: 40px;
    justify-content: center;
    margin-left: 20px;
    padding: 10px;
    flex-direction: column;
    align-items: center;
  }

  span {
    font-size: 10px;
  }

  .option {
    gap: 10px;
  }

  .btn-cliente {
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 7px;
    padding: 7px 7px;
  }

  .clientes {
    padding: 7px 7px;
  }

  .sobre-nos-btn {
    font-size: 7px;
  }

  .sobre-nos {
    padding: 7px 7px;
  }

  .procedimentos-btn {
    font-size: 7px;
  }

  .proc {
    padding: 7px 7px;
  }

  .cidade {
    display: none;
  }

  .hero {
    flex-direction: column;
  }

  .left-hero {
    margin-left: 4px;
    margin-top: 0%;
  }

  .paragro {
    margin-top: 30px;
  }

  .title-hero {
    font-size: 11px;
    text-align: center;
    margin-left: 20px;
  }

  .title-hero-dois {
    font-size: 11px;
    margin-left: 20px;
    text-align: center;
  }

  .btn-contato {
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 20px;
  }

  .container-one {
    padding: 0px;
  }
  .img-left-hero {
    margin-top: 40px;
  }

  .unha-um {
    align-items: center;
    margin: auto;
  }

  .unha-dois {
    display: none;
  }

  .unha-tres {
    display: none;
  }

  .img-principal {
    display: none;
  }

  #about {
    width: auto;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 30px;
    flex-direction: column;
  }

  #title-about {
    font-size: 20px;
  }

  .text-about {
    justify-content: center;
    width: auto;
    margin-left: 5px;
    font-size: 10px;
    text-align: left;
    padding: 20px;
  }

  .logo {
    width: 200px;
    height: 200px;
    border-radius: 50px;
    align-items: center;
  }

  .information {
    flex-direction: column;
    gap: 50px;
    margin-top: 50px;
    align-items: center;
  }

  #title-last {
    font-size: 20px;
    margin-top: 80px;
    margin-left: 15px;
  }
  .last-one {
    width: 230px;
  }

  .img-pro-one {
    margin-left: 2px;
  }

  .last-two {
    width: 230px;
  }

  .img-pro-two {
    margin-left: 2px;
  }

  .last-three {
    width: 230px;
  }

  .img-pro-thre {
    margin-left: 2px;
  }
}
