* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url(./assets/fundo\ exportado.png) no-repeat center/cover;
}

.head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px;
}

span {
  font-family: "Rosario", sans-serif;
  color: white;
  text-transform: uppercase;
}

.nails-btn {
  text-decoration: none;
}

.option {
  display: flex;
  padding: 5px;
  flex-direction: row;
  list-style: none;
  justify-content: space-between;
  gap: 35px;
  color: white;
  font-family: "Rosario", sans-serif;
  text-transform: uppercase;
  font-size: 11px;
}

.clientes {
  padding: 10px 10px;
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.btn-cliente {
  color: white;
  text-decoration: none;
  border-radius: 40px;
  background: #eb7a9e;
  padding: 10px 10px;
  transition: 0.3s;
}

.btn-cliente:hover {
  background: white;
  color: #c56685;
}

.sobre-nos {
  color: white;
  text-decoration: none;
  border-radius: 40px;
  background: #eb7a9e;
  padding: 10px 10px;
  transition: 0.3s;
}

.sobre-nos:hover {
  background: white;
  color: #c56685;
}

.sobre-nos-btn {
  padding: 10px 10px;
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.proc {
  color: white;
  text-decoration: none;
  border-radius: 40px;
  background: #eb7a9e;
  padding: 10px 10px;
  transition: 0.3s;
}

.proc:hover {
  color: #c56685;
  background: white;
}

.procedimentos-btn {
  padding: 10px 10px;
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.cidade {
  font-family: "Rosario", sans-serif;
  color: white;
  text-transform: uppercase;
}

.localiza {
  text-decoration: none;
}

.hero {
  display: flex;
  flex-direction: row;
}

.left-hero {
  margin-left: 120px;
}

.container-one {
  gap: 10px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.paragrafo {
  padding: 20px;
  margin-top: 50%;
}

.title-hero {
  font-size: 30px;
  font-family: "Rosario", sans-serif;
  color: white;
  text-transform: uppercase;
  margin-left: 55px;
}

.title-hero-dois {
  font-size: 30px;
  font-family: "Rosario", sans-serif;
  color: white;
  text-transform: uppercase;
  margin-left: 45px;
}

.btn-contato {
  background: #eb7a9e;
  padding: 10px 10px;
  border-radius: 40px;
  list-style: none;
  justify-content: space-between;
  gap: 35px;
  color: white;
  font-family: "Rosario", sans-serif;
  text-transform: uppercase;
  font-size: 11px;
  text-decoration: none;
  align-items: center;
  text-align: center;

  margin-left: 200px;
  margin-top: 10px;
  margin-right: 200px;
  cursor: pointer;
  box-shadow: 5px 5px 10px #c56685;
  transition: 0.3s;
}

.btn-contato:hover {
  background: white;
  color: #c56685;
}

.img-left-hero {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 40px;
}

.unha-um {
  width: 200px;
  height: 200px;
  border-radius: 30px;
  box-shadow: 10px 10px 40px #c56685;
}

.unha-dois {
  width: 200px;
  height: 200px;
  border-radius: 30px;
  box-shadow: 10px 10px 40px #c56685;
}

.unha-tres {
  width: 200px;
  height: 200px;
  border-radius: 30px;
  box-shadow: 10px 10px 40px #c56685;
}

.img-principal {
  width: 348px;
  height: 376px;
  border-radius: 30px;
  box-shadow: 10px 10px 40px #c56685;
  margin-top: 70px;
  margin-left: 130px;
}

#about {
  display: flex;
  flex-direction: row;
  background: white;
  width: 960px;
  border-radius: 30px;
  margin-top: 130px;
  margin-left: 170px;
  box-shadow: 10px 10px 40px #c56685;
}

.texto {
  display: flex;
  flex-direction: column;
}

#title-about {
  font-family: "Rosario", sans-serif;
  color: #c56685;
  text-transform: uppercase;
  font-size: 30px;
  text-align: center;
  margin-top: 40px;
}

.text-about {
  padding: 40px;
  font-family: "Rosario", sans-serif;
  color: #c56685;
  text-transform: uppercase;
  width: 525px;
  margin-left: 30px;
  text-align: justify;
}

.logo {
  width: 300px;
  height: 300px;
  margin-left: 80px;
}

.information {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 100px;
  gap: 100px;
  margin-bottom: 100px;
}

#title-last {
  font-family: "Rosario", sans-serif;
  color: white;
  text-transform: uppercase;
  font-size: 30px;
  text-align: center;
  margin-top: 170px;
}

.last-one {
  background: white;
  border-radius: 20px;
  padding: 15px;
  gap: 20px;
}

.fibra {
  font-family: "Rosario", sans-serif;
  font-size: 16px;
  color: #c56685;
  text-align: center;
  text-transform: uppercase;
}

.valor {
  font-family: "Rosario", sans-serif;
  color: #c56685;
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.img-pro-one {
  width: 200px;
  height: 200px;
  border-radius: 20px;
}

.last-two {
  background: white;
  border-radius: 20px;
  padding: 15px;
  gap: 20px;
}

.gel {
  font-family: "Rosario", sans-serif;
  font-size: 16px;
  color: #c56685;
  text-align: center;
  text-transform: uppercase;
}
.valor-dois {
  font-family: "Rosario", sans-serif;
  color: #c56685;
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.img-pro-two {
  width: 200px;
  height: 200px;
  border-radius: 20px;
}

.last-three {
  background: white;
  border-radius: 20px;
  padding: 15px;
  gap: 20px;
}

.esmalte {
  font-family: "Rosario", sans-serif;
  font-size: 16px;
  color: #c56685;
  text-align: center;
  text-transform: uppercase;
}

.valor-tres {
  font-family: "Rosario", sans-serif;
  color: #c56685;
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.img-pro-thre {
  width: 200px;
  height: 200px;
  border-radius: 20px;
}

footer {
  text-align: center;
  padding: 15px;
  font-family: "Rosario", sans-serif;
  color: white;
  background: #c56685;
  text-transform: uppercase;
  align-items: center;
  font-size: 15px;
}

.Desenvolvido {
  font-family: "Rosario", sans-serif;
  color: white;
}
